h1 {
  font-size: 28px;
  color: black;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.left {
  float: left;
  position: relative;
  text-align: left;
}

.center {
  float: center;
  position: relative;
  text-align: center;
}
